In [ ]:
import numpy as np
import pandas as pd

# Object creation
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

In [ ]:
# Creating a Data Frame using Numpy array, with a date time index and labeled columns
dates = pd.date_range("20130101", periods=6) # Return a fixed frequency DatetimeIndex
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD")) # to create a data frame
# np.random.randn() => Return a sample (or samples) from the “standard normal” distribution.
df

In [ ]:
df2 = pd.DataFrame(
    {
        "A" : 1.0,
        "B" : pd.Timestamp("20130102"),
        "C" : pd.Series(1, index = list(range(4)), dtype = "float32"),
        "D" : np.array([3] * 4, dtype="int32"),
        "E" : pd.Categorical(["test", "train", "test", "train"]),
        "F" : "foo",
    }
)
df2

In [ ]:
df2.dtypes

In [ ]:
############ Viewing data

df.head() # to see the first rows of the data frame

In [ ]:
df.tail(3) # to see the 3 last rows of the data frame

In [ ]:
df.index # display the index

In [ ]:
df.columns # display the columns

In [ ]:
# NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column
df.to_numpy()

In [ ]:
df2.to_numpy() # # representation of the object : repr(df2.to_numpy())

In [ ]:
df.describe()

In [ ]:
df.T # transpose the data

In [ ]:
df.sort_index(axis=1, ascending=False) # sorting by an axis

In [ ]:
df.sort_values(by="B") # sorting by values

In [ ]:
########## Getting

df["A"]

In [ ]:
df[0:3]

In [ ]:
df["20130102":"20130104"] # first and last index included

In [ ]:
############ Selection by label

df.loc[dates[0]] # # Pandas provide a unique method to retrieve rows from a Data frame

In [ ]:
df.loc[:, ["A", "B"]] # selecting on a multi-axis by label => all the rows and columns A and B

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]] # selection of the rows (end included) and the columns A and B

In [ ]:
df.loc["20130102", ["A", "B"]]

In [ ]:
df.loc[dates[0], "A"] # to get a scalar value

In [ ]:
df.at[dates[0], "A"] # to get a quick access to the scalar value

In [ ]:
########### Selection by position

df.iloc[3] # Purely integer-location based indexing for selection by position, from 0 to length-1; [rows, columns]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]] # list of integers : rows 1, 2, and 4 ; columns 0 and 2

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.iloc[:, 1:3] # for slicing columns explicitly

In [ ]:
df.iloc[1, 1] # to get one value explicitly

In [ ]:
df.iat[1, 1] # to get fast access to a scalar

In [ ]:
########## Boolean indexing

df[df["A"] > 0] # Using a single column’s values to select data=>selection of rows with strictly positive values in the column A

In [ ]:
df[df > 0] # Selecting values from a DataFrame where a boolean condition is met

In [ ]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"] # adding a column E with the corresponding values 1, 2, 3, 4
df2

In [ ]:
df2[df2["E"].isin(["two", "four"])] # using isin() method for filtering => filter column E including the values two and four
# indicates whether each element in the DataFrame is contained in values.

In [ ]:
############ Setting

s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
# Setting a new column automatically aligns the data by the indexes.
# Series.at[] : Access a single value using a label.
s1

In [ ]:
df["F"] = s1

In [ ]:
df.at[dates[0], "A"] = 0 # setting values by label
# Access a single value for a row/column label pair.

#Similar to loc, in that both provide label-based lookups. Use at if you only need to get or set a single value in a DataFrame 
#or Series.

In [ ]:
df.iat[0, 1] = 0 # setting values by position
# Access a single value for a row/column pair by integer position.

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df)) # Setting by assigning with a NumPy array
# Access a group of rows and columns by label(s).

In [ ]:
df

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

In [ ]:
############ Missing data

df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
# Reindexing allows us to change/add/delete the index on a specified axis. This returns a copy of the data.
df1.loc[dates[0] : dates[1], "E"] = 1
df1

In [ ]:
df1.dropna(how="any") # To drop any rows that have missing data

In [ ]:
df1.fillna(value=5) # Filling missing data

In [ ]:
pd.isna(df1) # Detect missing values.
# To get the boolean mask where values are nan ; Return a boolean same-sized object indicating if the values are NA

In [ ]:
############# Operation

###### Stats
df.mean()

In [ ]:
df.mean(1) # same operation on the other axis

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

In [ ]:
df.sub(s, axis="index") # Get Subtraction of dataframe and other, element-wise (binary operator sub)

In [ ]:
df.apply(np.cumsum) # np.cumsum return the cumulative sum of the elements along a given axis

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
############# Histogramming

s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts() # Return a Series containing counts of unique rows in the DataFrame

In [ ]:
########## String methods

s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

In [ ]:
########### Merge

###### Concat
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

In [ ]:
########### Join

left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on="key")

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on="key")

In [ ]:
############ Grouping

df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

In [ ]:
# Grouping and then applying the sum() function to the resulting groups.
df.groupby("A").sum()

In [ ]:
# Grouping by multiple columns forms a hierarchical index, and again we can apply the sum() function
df.groupby(["A", "B"]).sum()

In [ ]:
################ Reshaping

######### Stack
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack() # The stack() method “compresses” a level in the DataFrame’s columns.
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

In [ ]:
############## Pivot tables

df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    })
df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

In [ ]:
########### Plotting

import matplotlib.pyplot as plt

plt.close("all")

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))
ts = ts.cumsum()
ts.plot()

In [ ]:
df = pd.DataFrame(
   .....:     np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
   .....: )

In [ ]:
df = df.cumsum()

In [ ]:
plt.figure()

In [ ]:
df.plot()
plt.legend(loc='best')

In [ ]:
df.to_csv("foo.csv") # writing to a CSV file

In [ ]:
pd.read_csv("foo.csv")

In [ ]:
#############################################################################################################################
############################################### Try with Iris file ##########################################################
#############################################################################################################################


###########################################################
### Loading the CSV file
###########################################################


import pandas as pd

df = pd.read_csv("iris.csv", sep = ',', )
df

In [ ]:
#####################################################
### Viewing data
#####################################################

df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending = False)

In [ ]:
df.sort_values(by="sepal.length")

In [ ]:
#######################################################
### Getting
#######################################################